In [11]:
import os# interact with operating system
import pandas as pd#library for data manipulation and analysis
import numpy as np#library for working with large, multi-dimensional arrays and matrices of numerical data
from matplotlib import pyplot as plt#library for creating visualizations of data
%matplotlib inline
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
                                          
from sklearn.linear_model import LinearRegression
import tensorflow as tf# is a popular open-source library for machine learning and deep learning tasks
from tensorflow import keras# is a high-level API for building and training deep learning models using TensorFlow.
from sklearn import preprocessing

a=pd.read_excel("C:\\Users\\mutth\\OneDrive\\Documents\\Python Materials\\DATA SETS\\forecast.xlsx")
a.head()

            Unnamed: 0   Max  Min   RH 1  RH 2   RF     SR    SS  Wind
0  1982-01-01 00:00:00  25.0  16.0  94.0  42.0  0.0  243.2  10.2   8.6
1  1982-01-02 00:00:00  28.5  16.5  88.0  41.0  0.0  241.6  10.4   9.0
2  1982-01-03 00:00:00  28.5  17.5  94.0  52.0  0.0  183.2   7.0   8.0
3  1982-01-04 00:00:00  28.0  17.5  92.0  57.0  0.0  209.6   8.6   6.1
4  1982-01-05 00:00:00  28.0  14.0  94.0  55.0  0.0  260.0  10.2   7.4

In [12]:
a.columns#is an attribute of a pandas DataFrame that returns the names of the columns of the DataFrame.

Index(['Unnamed: 0', 'Max', 'Min ', 'RH 1', 'RH 2', 'RF', 'SR', 'SS', 'Wind'], dtype='object')

In [13]:
a.shape#is an attribute of a pandas DataFrame that returns the
       #dimensions of the DataFrame as a tuple of the form (n_rows, n_columns).

(14863, 9)

In [14]:
a.describe()#is a method of a pandas DataFrame that returns a summary of the 
            #statistical characteristics of the columns of the DataFrame.

,Max,Min,RH 1,RH 2,RF,SR,SS,Wind
count,14863.000000,14863.000000,14863.000000,14863.000000,14863.000000,14863.000000,14863.000000,14863.000000
mean,31.873630,21.815399,85.938579,48.138169,1.904237,323.686902,6.785944,7.883519
std,2.700513,2.453976,5.774486,12.122662,7.311430,104.504516,3.249478,5.901368
min,22.000000,11.500000,70.000000,0.000000,0.000000,38.500000,0.000000,0.000000
25%,30.000000,20.800000,82.000000,40.000000,0.000000,234.400000,4.500000,4.400000
50%,31.800000,22.400000,88.000000,49.000000,0.000000,332.300000,7.700000,6.100000
75%,33.700000,23.500000,90.000000,56.000000,0.000000,413.100000,9.500000,9.000000
max,39.400000,27.700000,98.000000,81.000000,130.500000,589.600000,11.900000,39.700000

In [15]:
a.info #is a method of a pandas DataFrame that returns information about the DataFrame,
       #including the data types of the columns, 
       #the number of non-missing values in each column, and the memory usage of the DataFrame

<bound method DataFrame.info of                 Unnamed: 0   Max  Min   RH 1  RH 2   RF     SR    SS  Wind
0      1982-01-01 00:00:00  25.0  16.0  94.0  42.0  0.0  243.2  10.2   8.6
1      1982-01-02 00:00:00  28.5  16.5  88.0  41.0  0.0  241.6  10.4   9.0
2      1982-01-03 00:00:00  28.5  17.5  94.0  52.0  0.0  183.2   7.0   8.0
3      1982-01-04 00:00:00  28.0  17.5  92.0  57.0  0.0  209.6   8.6   6.1
4      1982-01-05 00:00:00  28.0  14.0  94.0  55.0  0.0  260.0  10.2   7.4
...                    ...   ...   ...   ...   ...  ...    ...   ...   ...
14858  2022-09-06 00:00:00  32.5  23.5  83.0  68.0  0.0  285.0   5.3   3.8
14859  2022-09-07 00:00:00  29.5  23.5  83.0  63.0  0.5  255.0   3.9   7.0
14860  2022-09-08 00:00:00  30.0  22.5  80.0  60.0  5.0  270.0   1.8   9.8
14861  2022-09-09 00:00:00  29.5  23.5  83.0  64.0  0.0  270.0   2.8  10.1
14862  2022-09-10 00:00:00  29.0  24.0  80.0  56.0  0.0  300.0   6.7  11.3

[14863 rows x 9 columns]>

In [16]:
a.isnull().any()#is a method of a pandas DataFrame that returns a boolean
                #DataFrame indicating whether each value in the DataFrame is missing (True) or not missing (False).
                #any is a method of a pandas DataFrame that returns a boolean value indicating 
                #whether any value in the DataFrame is True.

Unnamed: 0    False
Max           False
Min           False
RH 1          False
RH 2          False
RF            False
SR            False
SS            False
Wind          False
dtype: bool

In [17]:
round(100*(a.isnull().sum()/len(a.index)),2)#calculates the percentage of missing values in each column of a pandas DataFrame.

Unnamed: 0    0.0
Max           0.0
Min           0.0
RH 1          0.0
RH 2          0.0
RF            0.0
SR            0.0
SS            0.0
Wind          0.0
dtype: float64

In [18]:
a_num= a[list(a.dtypes[a.dtypes!=object].index)]#This code selects the numeric columns of a pandas DataFrame

In [19]:
a_y=a_num.pop("RF")#This code removes the column "RF" from the DataFrame a_num and
                   #assigns the values in the column to a separate variable a_y.

In [20]:
a_x=a_num#This code assigns the DataFrame a_num to a new variable a_x.

In [21]:
train_x,test_x,train_y,test_y=train_test_split(a_x,a_y,test_size=0.2,random_state=2)
#This code used to split a dataset into training and test sets.
#The dataset is represented by the predictor variables in a_x and the target variable in a_y.

In [22]:
train_x.head()#This code displays the first few rows of the DataFrame train_x

        Max  Min   RH 1  RH 2     SR   SS  Wind
9619   37.0  23.6  88.0  54.0  447.0  8.5   5.8
11016  35.4  20.0  91.0  36.0  492.0  9.5   3.4
12440  28.6  22.6  89.0  53.0  292.1  5.1   4.9
7610   29.0  22.0  94.0  65.0  326.8  4.4   4.8
12088  30.5  21.6  82.0  49.0  442.8  1.5   7.4

In [23]:
model=LinearRegression()#Using Linear Regression Algoritham

In [24]:
model.fit(train_x,train_y)
#This code fits a machine learning model to the training data stored in the DataFrame train_x and the Series train_y.

LinearRegression()

In [25]:
prediction=model.predict(test_x)
#This code uses a trained machine learning model to make predictions on a test set stored in the DataFrame test_x.

In [26]:
np.mean((prediction-test_y)**2)
#This code calculates the mean squared error (MSE) between the predictions made by a machine learning model
#and the true values of the target variable in a test set.

55.70763288468245

In [27]:
pd.DataFrame({"actual":test_y,"prediction":prediction,"diff":test_y-prediction})
#This code creates a new DataFrame that compares the actual values of the target variable in a
#test set with the predictions made by a machine learning model,and the difference between the two.

       actual  prediction       diff
1104      0.0    2.744148  -2.744148
9006      0.0    1.942706  -1.942706
4135      0.0    1.177861  -1.177861
5605      0.0    3.442003  -3.442003
6516      0.0    4.721295  -4.721295
...       ...         ...        ...
12443     0.0    3.998672  -3.998672
9963      0.0    1.709184  -1.709184
224      17.4    3.432449  13.967551
13853     0.0    2.986547  -2.986547
3436      0.0    4.011692  -4.011692

[2973 rows x 3 columns]

In [28]:
from sklearn.preprocessing import PolynomialFeatures

In [29]:
poly=PolynomialFeatures(degree=4)# Create a PolynomialFeatures transformer

In [30]:
x_poly=poly.fit_transform(train_x)
#This will return a new feature matrix x_poly with the polynomial combinations of the original features.

In [31]:
poly.fit(x_poly,train_y)# Fit the transformer to the training data

PolynomialFeatures(degree=4)

In [32]:
lin=LinearRegression()

In [33]:
lin.fit(x_poly,train_y)# Fit the linear model to the training data

LinearRegression()

In [34]:
pred2=lin.predict(poly.fit_transform(test_x))# Generate predicted values for the test data

In [35]:
np.mean((pred2-test_y)**2)
#calculates the mean squared error (MSE) between the predicted values pred2 and the true values test_y.

47.67479279769929

In [36]:
pd.DataFrame({"actual":test_y,"prediction":pred2,"diff":test_y-pred2})#create a dataframe

       actual  prediction       diff
1104      0.0    1.063548  -1.063548
9006      0.0    0.429501  -0.429501
4135      0.0   -0.271855   0.271855
5605      0.0    5.505171  -5.505171
6516      0.0    7.671041  -7.671041
...       ...         ...        ...
12443     0.0    4.556320  -4.556320
9963      0.0    1.912780  -1.912780
224      17.4    7.210101  10.189899
13853     0.0    2.173087  -2.173087
3436      0.0   -2.614987   2.614987

[2973 rows x 3 columns]

In [37]:
from sklearn.tree import DecisionTreeRegressor#Using Decission Tree Algoritham

In [38]:
regressor=DecisionTreeRegressor(random_state=0)# Create a decision tree regressor

In [39]:
regressor.fit(train_x,train_y)# Fit the regressor to the training data

DecisionTreeRegressor(random_state=0)

In [40]:
pred3=regressor.predict(test_x)# Make predictions on the test data

In [41]:
np.mean((pred3-test_y)**2)
#calculates the mean squared error (MSE) between the predicted values pred3 and the true values test_y.

87.72407268752106

In [42]:
from sklearn.ensemble import RandomForestRegressor#Using Random Forest Algorithm

In [43]:
regr=RandomForestRegressor(max_depth=10,random_state=0,n_estimators=100)# Create a random forest regressor

In [44]:
regr.fit(train_x,train_y)# Fit the regressor to the training data

RandomForestRegressor(max_depth=10, random_state=0)

In [45]:
pred4=regr.predict(test_x)# Make predictions on the test data

In [46]:
np.mean((pred4-test_y)**2)
#calculates the mean squared error (MSE) between the predicted values pred4 and the true values test_y.

48.296078973719425

In [47]:
!pip install PySimpleGUI

Requirement already satisfied: PySimpleGUI in c:\users\mutth\anaconda3\lib\site-packages (4.60.4)

In [49]:
import PySimpleGUI as sg

layout = [
    [sg.Text('Mean Squared Error')],
    [sg.Text('Linear Regression:', size=(15, 1)), sg.Text(str(np.mean((prediction-test_y)**2)), key='lin_reg_mse')],
    [sg.Text('Polynomial Regression:', size=(15, 1)), sg.Text(str(np.mean((pred2-test_y)**2)), key='poly_reg_mse')],
    [sg.Text('Decision Tree Regression:', size=(15, 1)), sg.Text(str(np.mean((pred3-test_y)**2)), key='dt_reg_mse')],
    [sg.Text('Random Forest Regression:', size=(15, 1)), sg.Text(str(np.mean((pred4-test_y)**2)), key='rf_reg_mse')],
]

window = sg.Window('Regression Analysis Results', layout)

while True:
    event, values = window.read()
    if event in (sg.WIN_CLOSED, 'Cancel'):
        break

window.close()